.photobox
{

	width:100%;
	position: fixed;
	background-color: #000;
	height: 100%;
	z-index: 999;

}
.photobox .photoContainer
{

	margin-right: 300px;
	height: 100%;
	position: relative;
}
.photobox .photo
{

	background-color: #222;
	width:800px;
	height: 600px;
	margin:auto auto;
	position: relative;
}
.photoboxComments
{

	float:right;
	background-color:#fff;
	width:300px;
	height: 100%;

}


.aboutBox
{
	background-color: #fff;
	box-shadow:   0 0 3px #aaa;
}
.aboutBox label
{padding:4px; clear:both; display:inline-block;}

.aboutBox table tr:first-child td
{border:0;
}
.aboutBox .title
{
padding:8px;
background-color: #efefef;
border-bottom: 1px silver solid;
text-align: center;
text-transform: uppercase;;
letter-spacing: 1px;


}



.aboutBox table td
{

	padding:8px;
	border-top:1px silver solid;
	vertical-align: top;

}
.aboutBox table{
border-spacing: 0px;
width:100%;
}
.aboutContainer
{

	width:260px;
	float:left;
}
.aboutBox table td.info
{
color:gray;
width:75px;

}

 
.collectionPostbox .collectionPost .top
{
	font-weight:bold;
	margin-bottom:8px;
}

.time
{
float:right;
color:grey;
}

.collectionPost
{

	
	padding:16px;
	border-top:1px silver solid;

}
.collectionPost:first-child
{
	border-top:0px silver solid;

}
.collectionPostbox
{


	box-shadow:   0 0 3px #aaa;
	margin-bottom:16px;
	margin:32px;
	background-color: #fff;
}
.collectionImgbox
{
	box-shadow:   0 0 3px #aaa;
	margin-bottom:16px;
	margin:32px;
	padding:8px;
background-color: #fff;

}
.collectionImgbox img
{
width:118px ;
height:118px;
float:left;
margin:8px;

}

.collectionBg
{


}

.profile_name
{

position: absolute;
top:32px;
left:32px;
font-size: 16px;

}
.profile_header
{
padding:32px;
margin-top:  27px; /* 19px (Username) +  8 (margin)*/
padding-bottom: 0;


}
.photodrop
{

	padding:32px;


}

.collection:active
{
	
	box-shadow:         inset 0 0 10px #aaa;
}
.collection
{
	width:67px; 
	height:67px;
	border:1px silver solid;
	background-color: #E6E6E6;
	margin:8px;
	display:block;
	word-wrap: break-word;
	font-size: 14px;
	padding: 8px;
	float:left;
	overflow: hidden;

	  box-shadow:         inset 0 0 10px #ccc;
	  
}

