.commentBox
{

	display: none;
}
.postcomments{padding-top: 8px;}
.postcomments .morecomments:active
{
	background-color: #efefef;

}
.postcomments .morecomments
{

	padding:8px;
	text-align: center;
	
	display: block;
	border-top:1px silver dotted;
	text-align: center;
	color:#000;
}
.postcomments .comment:first-child
{
	border-top:0px silver dotted;
}


.postcomments .comment
{

	padding:8px;
	border-top:1px silver dotted;
	
}
.postcomments .comment .head
{

	padding-bottom:8px;

}
.commentBox textarea
{
	margin: 8px 0;
	height: 32px;
	width:100%;
}



.stream .collectionPost
{
	border-top:1px silver solid;
	padding:32px;
	overflow:auto;

}
.stream .post .top
{
	font-weight:bold;
	margin-bottom:8px;
}
.subDiv
{
		margin-left:64px;

}
.postContent
{

		padding-bottom:8px;
	
}


.attach img
{
	margin-top:8px;
	padding:8px;
	border:1px silver solid;
	background-color:#fff;
	width:100px;
	display: inline-block;
	margin-right:8px;
	
}
.attach
{
	


	box-shadow:  inset 0 0 3px #aaa;
color:#eded;
padding:8px;
background-color: #ddd;
margin-bottom: 8px;

}