.commentBox
{

	display: none;
}
.commentBox textarea
{
	margin: 8px 0;
	height: 32px;
	width:100%;
}
.stream .post
{
	border-top:1px silver solid;
	padding:32px;
	overflow:auto;

}
.stream .post .top
{
	font-weight:bold;
	margin-bottom:8px;
}
.subDiv
{
		margin-left:64px;

}
.postContent
{

		padding-bottom:8px;
	
}
.attach img
{
	margin-top:8px;
	padding:8px;
	border:1px silver solid;
	background-color:#fff;
	width:100px;
	display: inline-block;
	margin-right:8px;
	
}
.attach
{
	
background-color:#F3F3F3;

margin-bottom:8px;
color:grey;
padding:8px;
}