.msgItems li a
{
border-bottom:1px silver solid;
background-color: #efefef;
display: block;
padding: 16px;

}
.msgItems li a:active, .msgItems li.active  a
 {
 	background-color: #fff;

 }
.talkbarbg
{
width:300px;
background-color: #efefef;
height: 100%;
position: fixed;
z-index:10;

}
.talkbar
{
width:300px;
float:left;
z-index:11;

position: fixed;


}

.msgItems li a div
{
	color:#000;
	font-style: italic;
	font-weight: normal;
	padding-top: 8px;
}
.msgItems li
{
	
}
.msgItems
{
	padding:0;
	margin:0;list-style-type: none;
overflow: auto;
}
.message
{
	box-shadow:   0 0 3px #ccc;
	margin: 16px;
	padding:16px;
	background-color: #efefef;

}
.message .top
{

	padding-bottom: 8px;
}
.instantanswer
{
width:518px;
position: fixed;
bottom:0;
padding: 16px;
z-index: 999;
border-top:1px silver solid;
background-color: #fff;

}