.attachmentContainer div
{ 
	padding:8px;
	padding-right: 0;
	border-bottom: 1px silver solid;
	


}
.hotCheckbox
{

	background-image:url(checkbox.gif);
	background-repeat: no-repeat;
	display: inline-block;
	padding: 2px;
	line-height: 12px;
padding-left: 20px;
margin: 2px;

}
.hotCheckbox:active
{background-position: 0 -32px;}
.hotCheckbox.active:active
{background-position: 0 -48px;}
.hotCheckbox.active
{

	background-position: 0 -16px;
}
.switcher.active
{

	background-color: #fff;
}
.switcher div
{
	padding: 8px;
	position: relative;


}
.switcher.active div
{
background-color: #fff;

padding: 8px 8px 8px 8px;


height:16px; /* 30 - 8*2 + 2 (overlay)*/


z-index: 300;
position: relative;


}
.switcher:active div
{
	background-color: #ccc;
}
.switcher.active:active div
{
	background-color: #fff;
}
.switcher
{
	
	display: inline-block;
	height:30px;
	background-color: #dedede;

	position: relative;

	box-shadow:   0 0 3px #aaa;
}

.switch
{
	z-index: 200;
	position: relative;
	background-color: #fff;
	padding: 16px;
		box-shadow:   0 0 3px #aaa;
		
}
.actionIcon
{

width: 48px;
height: 48px;

	background-image:url(actions2.png);

	display:inline-block;
	cursor:pointer;


}

.uiBlock
{
		position:fixed;
		width:100%;
		height:100%;
		display:none;
		background-color:#fff;
		z-index:9998;
		
}

.fixedBox
{
	position:fixed;

	padding:32px;
	background-color:#fff;
	border:2px #900 solid;
	margin: 0 auto;
	left:50%;
	margin-left:-150px;
	z-index:9999;
	
	
}

.collection .square
{
	
	width:100px;
	height:100px;
	background-color:red;
	margin: 8px;
	float:left;
	
}


.tdinfo
{
	
width:120px;
vertical-align:top;
padding-top: 12px;
padding-right: 16px;

font-weight: bold;


}
table td
{
	padding:8px 0;
}
h1
{

	font-size:14px;
	border-bottom:1px silver solid;
	padding:16px 0;
	margin-top:0;
	margin-bottom:16px;
	margin-top:16px;
}
h1:first-child
{
	
margin-top:0;
padding-top:0;
}
.tabBar ul
{
	padding:0;
	list-style-type:none;

	margin:0;
	
}
.tabBar ul li A
{
	display:block;padding:8px; cursor:pointer;
	color:#fff;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.tabBar ul li a
{

	background-color:#333;
	margin-bottom:1px;


}
.tabBar ul li a:active
{

background-color:#222;
}

.tabBar ul li.active a
{
background-color:#222;
box-shadow:  inset 0 0 3px #000;

	}
.p32
{
	padding:32px;
	overflow:auto;
}
.p16
{	
	padding:16px;
	overflow:auto;
}.p24
{	
	padding:24px;
	overflow:auto;
}

.box
{
	
padding:4px;
border:1px silver solid;
border-radius:2px;margin:0;
}
.profilePic
{
	
float:left;
margin-right:16px;
}
textarea
{
	 -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
a:hover
{
	
color:#000;
}
a 
{
	
	color:#ba2323;
	cursor:pointer;
	text-decoration:none;
	font-weight:bold;
}
.lightLink a
{
	color:#333;
	text-decoration:none;
	font-weight:normal;
}
.button {

    padding:8px;
    position:relative;
margin:0;
    text-decoration:none;
    color:#fff;



    border-radius: 2px;
    text-transform: uppercase;
   letter-spacing: 1px;


   
	display:inline-block;
	cursor:pointer;
	font-weight:bold;

}
 
 

.button:hover {

   color:#fff;


}