<div style='background-color: #fff; '>


<div  class='loggedOutOnly' style='padding:32px;border-bottom:1px silver solid; background-color:#fff' >
<a href='#welcome'>&laquo; Home</a>
</div>



<!-- THE FOLLOWING COPYRIGHT NOTICE SHALL NOT BE REMOVED (See license.txt for more information)-->
	<div class="p32" style='float:right; width:240px;  '>
	<h3 style='margin-top:0'>About Charme</h3>
	This social network is based on Charme.
	You can find more information about Charme on <a href="www.charmeproject.com">www.charmeproject.com</a>.


	<h3>Credits</h3>
	Developed by <a href="http://www.mschultheiss.com">Manuel Schultheiß</a>. <br/><br/>


	<b>Cryptography:</b><br/>  Stefan <br/>
	<b>Beta Test:</b><br/> Isa, Michi<br/> 

	

<!--<br/><br/>
	A lot of thanks for advices, help and reviews go to 
-->


	<h3>Libraries</h3>
There are a lot of third party libraries used in Charme. You can find 
a list <a href='https://github.com/mschultheiss/Charme/blob/master/web/readme.md#libraries'>here</a>. A special thanks go to the developers of these libraries.

	<h3>Feedback</h3>

	Please report bugs!

	</div>
<!-- THE ABOVE COPYRIGHT NOTICE SHALL NOT BE REMOVED (See license.txt for more information) -->


<!--
Here you can provide information about your server. This part can be modified
-->
	<div style='margin-right:304x; padding-right:0;' class='p32'>



	<div class='infobox' style='margin:0;'>
	<b>Warning: </B>This is a Charme beta version for testing purposes only. Do not provide any critical personal data.
	However, your email address and password is secure.</div>

	
	<h1>Bugs</h1>
	Thank you so much for participating in the Charme Beta program. Please repost all bugs you can find on <a href='https://github.com/mschultheiss/Charme/issues'>GitHub</a>. Here is a list of bugs we already know about:



	<h1>Upcoming Features</h1>
	<ul>
		<li>Post and comment delete</li>
		<li>Visibility Control for Collections</li>
		<li>Pictures for Collections</li>
		<li>Name Change</li>
		<li>Password Change</li>
		<li>File Attachments</li>
		<li>	<a href='https://github.com/mschultheiss/Charme'>More information on GitHub</a></li>
	</ul>

		</div>
<!-- --></div>