<div style='background-color: #fff; '>


<div  class='loggedOutOnly' style='padding:32px;border-bottom:1px silver solid; background-color:#fff' >
<a href='#welcome'>&laquo; Home</a>
</div>



<!-- THE FOLLOWING COPYRIGHT NOTICE SHALL NOT BE REMOVED (See license.txt for more information)-->
	<div class="p32 respColumn" style='float:right; width:240px;  ' >
	<h3 style='margin-top:0'>About Charme</h3>

	Developed by <a href="http://www.mschultheiss.com">Manuel Schultheiß</a>. <a href="http://mschultheiss.com/?page_id=9">Imprint</a>
	<br><br>&bull;  <a href="http://mschultheiss.github.io/Charme">More information</a><br>&bull; <a href='https://github.om/mschultheiss/Charme/blob/master/doc/libraries.md'>Used libraries</a>

	<h3>Contributors</h3>
<ul>
<li>Florian Scheibner: Hosting and Testing</li>
</ul>
	If you contributed something and want to read your name here, please write me an email.
	Thanks to all beta testers!

	<h3>Bugs</h3>
	Thank you so much for participating in the Charme Beta program. Please report all bugs you can find on <a href='https://github.com/mschultheiss/Charme/issues'>GitHub</a>.

<!--<br/><br/>
	A lot of thanks for advices, help and reviews go to
-->



	</div>
<!-- THE ABOVE COPYRIGHT NOTICE SHALL NOT BE REMOVED (See license.txt for more information) -->


<!--
Here you can provide information about your server. This part can be modified
-->
	<div style='margin-right:304px;' class='p32 respColumn'>


<!-- Paypal Feature: Will be included if i need money for new laptop

 If you like the software you can <b>pay an amount of your choice</b> to support development:<br><br>	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="SQWD35UU4ZBR4">
<table style="margin: 0px auto;">
<tr><td><input type="hidden" name="on0" value="Amount">Amount</td></tr><tr><td><select name="os0">
	<option value="1 EUR">1 EUR €1,00 EUR</option>
	<option value="5 EUR">5 EUR €5,00 EUR</option>
	<option value="10 EUR">10 EUR €10,00 EUR</option>
	<option value="15 EUR">15 EUR €15,00 EUR</option>
	<option value="20 EUR">20 EUR €20,00 EUR</option>
	<option value="25 EUR">25 EUR €25,00 EUR</option>
	<option value="50 EUR">50 EUR €50,00 EUR</option>
	<option value="100 EUR">100 EUR €100,00 EUR</option>
	<option value="150 EUR">150 EUR €150,00 EUR</option>
	<option value="500 EUR">500 EUR €500,00 EUR</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="EUR">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
</form>-->






<h3>Imprint</h3>
In contrast to classical websites, client and server are seperated. You can find
 <% if (rc.imprinturl != "")  { %>
the server administrators imprint <a href="<%- rc.imprinturl %>">here</a>, the server administrators terms of use <a href="<%- rc.termsurl %>">here</a>,  and
<% } %>
the developers imprint <a href="http://mschultheiss.com/?page_id=9">here</a>. The Software itself is licensed under
the <a href="http://www.gnu.org/licenses/gpl-3.0.de.html">GNU GENERAL PUBLIC LICENSE (Version 3)</a>.









		</div><br style="clear:both">
<!-- --></div>
