<div style='width:400px'>
<div style='padding:16px;'>
		
	<table cellspacing="0" cellpadding="0" style='width:250px'>

		<tbody>

		<tr><td class="tdinfo">Receivers:</td><td>
			<input style='width:100%' class="box" id="inp_receivers" type="text" value="">
		</td></tr>

			<tr><td class="tdinfo">Message:</td><td>
			<textarea class='box' style='width:250px; height:100px;'></textarea>
		</td></tr>
</tbody></table>
</div>
<div class='boxMargin'>
<a href='javascript:ui_closeBox();' class='button' style='margin-right:8px; background-color:gray'>Close</a><a href='javascript:sendMessage();' class='button'>Send Message</a>
</div></div>