<div style='width:400px; width:100%;'>



<div id='contextContainer' style='width:400px; position: relative;overflow:hidden;'>

<div class="scroller">
	<div style="float:left; width:384px;padding:8px; ">
	<a href='javascript:void(0);'  data-type="move" title="Move" class="contextItem">Move</a>
	<a  href='javascript:void(0);' data-type="offer"  title="Sell"  class="contextItem" style="background-position:-70px 0px;">Sell</a>
	<a  href='javascript:void(0);' data-type="review"  title="Review" class="contextItem" style="background-position:-140px 0px;">Review</a>
	<a  href='javascript:void(0);' data-type="publicevent" title="Event" class="acb contextItem" style="background-position:-210px 0px;">Event</a>
	</div>

	<div style="float:left; left:400px; width:384px;padding:8px;">

		<div style="padding:24px;" id='contextDetails'>
			
		</div>
	</div>
	<br style="clear:both;">
</div>


<br style="clear:both;">
</div>
<div class='boxMargin'>

<a id="but_addContext" style='display:none' class='button' >Add Context</a>
<a id='box_info_ok' href='javascript:ui_closeBox();' class='button gray' style='margin-left:8px;'>Close</a>

</div></div>