<div style='width:400px'>
<div style='padding:16px;'>

	<table cellspacing="0" cellpadding="0" style='width:250px'>

		<tbody>

		<tr><td class="tdinfo">Name:</td><td>
			<div style='width:275px'>
			<input  class="box" id="inp_box_name" type="text" value="">
		</div>
		</td></tr>


		<tr><td class="tdinfo">Description:</td><td>
			<textarea class='box' id='inp_box_description' style='width:275px; height:100px;'></textarea>
		</td></tr>

		<tr><td class="tdinfo">List:</td><td>
			<select id='sel_collection_list' style="margin-bottom:8px;">
				<option value="0">No list</option>
				  <% _.each( rc.collection_editPrepare.lists, function(item2){ %>


				  <option  <% if ( rc.collection_editPrepare.currentlist == item2._id.$id) { %> selected="selected"

						<% } %>
 value='<%- item2._id.$id %>'><%- item2.name %></option>
 				  <% }); %>

			</select>
			<br>
			If you select a list, new posts are encrypted only for people in this list.


		</td></tr>

<% if (rc.isOnEdit==true) { %>
	<tr><td class="tdinfo">Options:</td><td>
		<a id="but_deleteCollection">Delete Collection</a>
	</td></tr>
<% } %>

</tbody></table>
</div>
<div class='boxMargin'>
<a href='javascript:ui_closeBox();' class='button gray'  style='margin-right:8px;'>Cancel</a><a id='but_box_save' class='button'>Save</a>
</div></div>
