
<div style='max-width:400px; ' class="p32">


<a href="javascript:logout()" class="linkCaption">Local Logout<div class="linkSubCaption">Perform a local logout. Passphrase is kept encrypted with password. Should only be used if no evil persons will touch your computer.</div></a>

<a href="javascript:logout(undefined, true)" class="linkCaption">Safe Logout<div class="linkSubCaption">Should be used for shared computers. Deletes all data from device. Passphrase must be entered at new login.</div></a>


<br style="clear:both;">
</div>
<div class='boxMargin'>

<a href='javascript:ui_closeBox();' class='button gray' style='margin-left:8px;'>Close</a>

</div></div>
