<div style='width:400px'>
<div style='padding:16px;'>
		
	<table cellspacing="0" cellpadding="0" style='width:250px'>

		<tbody>

		<tr><td class="tdinfo">Receivers:</td><td>
			<div style='width:275px'>
			<input  class="box" id="inp_receivers" type="text" value="">
		</div>
		
		<!--</td></tr>

			<tr><td class="tdinfo">Message:</td><td>
			<textarea class='box' id='inp_newmsg' style='width:275px; height:100px;'></textarea>
		</td></tr>-->
</tbody></table>
</div>
<div class='boxMargin'>
<a href='javascript:ui_closeBox();' class='button gray' style='margin-right:8px; '>Close</a><a href='javascript:talks_startConversation();' class='button'>Create Conversation</a>
</div></div>