<div style='width:400px'>
<div style='padding:16px;'>
		
The Revision Counter has not been set. Your current Revision Counter is 
<span id='box_info_revCounter'>0</span>.
<br><br>
If you remember this number or a lower number from another Charme instance or you have not imported any key yet, everything is fine. Otherwise youlease go to Settings/Keymanager to check your public keys, because they may have been compromised then.

</div>
<div class='boxMargin'>
<a id='box_info_ok' class='button gray' style='margin-right:8px;'>Close</a>
</div></div>