<div class="p32">

<h1>What is encrypted and what is not encrypted?</h1>

There are several things that are end-to-end encrypted, which means only people who you have granted access can access it. The server host can not access it. Such data includes:
<ul>
	<li>Messages</li>
	<li>Private Profile Information</li>
	<li>Private collections</li>
</ul>
For technical reasons, meta data is currently not end-to-end encrypted (But maybe later with a TOR like technology). Such data includes for example:
<ul>
	<li>Who you write messages to</li>
	<li>Search queries</li>
		<li>Post context</li>
</ul>


<h1>What are collections?</h1>
Every user can create new collections and subscribe to collections of other users.
The idea behind this is that you probably do not want to get all information about a certain user.

For example if you are not interested in your boss' private life, but in company news,
you can subscribe to his company collection only.
You have to subscribe to  collections manually. Adding people to lists does not mean subscribing to their collections!

<h1>How do I add a friend?</h1>
Get the Charme ID (e.g. someone@someserver.com) and enter it into the "Find..." box.

<h1>Why cant i send a message to a user</h1>
Make sure you have added the public key to your key directory first.
<!--
<h1>Formulas</h1>
If your browser supports MathML you can also write TeX Formulas. You can use the preview function to check the rendering.
To include LateX capsulate the formula with \$. For example

<div style='padding:16px;'>
<span style='font-family: Consolas'>\$\sum_{i=0}^{n-1}i\$</span>
</div>
 is
<div style='padding:16px;'>

	$\sum_{i=0}^{n-1}i$
</div>
To write a \$ sign you have to write \\$.
</div>
-->

<br />
