<div class="p32">


<h1>What are collections?</h1>
Every user can create new collections and subscribe to collections of other users.
The idea behind this is that you probably do not want to get all information about a certain user. 

For example if you are not interested in your boss' private life, but in company news,
you can subscribe to his company collection only.
You have to subscribe to  collections manually. Adding people to lists does not mean subscribing to their collections!


<h1>How do I add a friend?</h1>
Get the Charme ID (e.g. someone@someserver.com) and (...)
Direct profile links should work in the near future.

<h1>How do I add people to my lists?</h1>
Go to the friends page and drag people from the middle on some list on the left.
<h1>Why are links to galeries, profiles, etc. not working?</h1>
As every user is located on another server this does not work at the moment. However we are on this.


<h1>Formulas</h1>
If your browser supports MathML you can also write TeX Formulas. You can use the preview function to check the rendering.
To include LateX capsulate the formula with \$. For example

<div style='padding:16px;'>
<span style='font-family: Consolas'>\$\sum_{i=0}^{n-1}i\$</span>
</div>
 is
<div style='padding:16px;'>

	$\sum_{i=0}^{n-1}i$
</div>
To write a \$ sign you have to write \\$.
</div>


<br />
