<div class='p32' >

<h1>Public Key</h1>



	<span id='mypub' style='word-wrap: break-word;'></span><br><br>Revision: <span id='myrev'></span> - 	<a href='javascript:makeNewKey();'>Generate new key</a> - <a href='javascript:updateData();'>Update encrypted data</a> - <a href='javascript:mkqrcode();'>Make QR Code</a>

	<br><br>
		This is your real public key. Use this key to verify your public key with communication partners.
</div>


<div class='p32' style='padding-top:0'>
<h1>Saved Keys</h1>
	<div id='keys'>
	

	

	</div>

	
</div>


