<div class='p32'>
	<form id='settingsform'>
		<h1>Personal Information</h1>
	<table cellspacing="0" cellpadding="0">

		<tbody>

		<tr><td class="tdinfo">Hometown:</td><td>
			<input class="box" type="text" name="st_hometown" value="">
		</td></tr>

		<tr><td class="tdinfo">About me:</td><td><textarea class="box" name="st_aboutme" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 42px;"></textarea></td></tr>

		<tr><td class="tdinfo">Gender:</td><td><select name="st_gender">
			<option selected="selected" value="0">I dont tell</option>
			<option value="1">Male</option>
			<option value="2">Female</option>
		</select>
		</td></tr>

	</tbody></table>


<h1>Interests</h1>
<table cellspacing="0" cellpadding="0">

		<tbody>

	

		<tr><td class="tdinfo">Literature:</td><td><textarea class="box" name="st_literature" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 42px;"></textarea></td></tr>

			<tr><td class="tdinfo">Music:</td><td><textarea class="box" name="st_music" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 42px;"></textarea></td></tr>

				<tr><td class="tdinfo">Movies:</td><td><textarea class="box" name="st_movies" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 42px;"></textarea></td></tr>

					<tr><td class="tdinfo">Hobbies:</td><td><textarea class="box" name="st_hobbies" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 42px;"></textarea></td></tr>

	<tr><td class="tdinfo">&nbsp;</td><td><a style='margin-top:16px;' class='button' id='but_saveProfile'>Save Profile</a></td></tr>



	</tbody></table>




	</form>
</div>