
<div class='p32'>
Change your password here. Please note that you have to reenter your passphrase after the password has been changed.

	<form id='form_privateSettings' style='margin-top:32px'>
		<h1>Change Password</h1>
	<table cellspacing="0" cellpadding="0">

		<tbody>

		<tr><td class="tdinfo">Old Password:</td><td>
			<input class="box" type="password" name="inp_oldpassword" value="">
		</td></tr>


		<tr><td class="tdinfo">New Password:</td><td>
			<input class="box" type="password" name="inp_newpassword" value="">
		</td></tr>

		<tr><td class="tdinfo">New Password:</td><td>
			<input class="box" type="password" name="inp_newpassword2" value="">
		</td></tr>
		

	<tr><td class="tdinfo">&nbsp;</td><td><a style='margin-top:16px;' class='button' id='but_savePassword'>Change Password</a></td></tr>


	</tbody></table>



	</form>
</div>