<!--
Use HTML5 tag "pattern" with regex to validate forms.
and make sure it matches with server Validation
-->

<div style='padding:32px;border-bottom:1px silver solid; background-color:#fff' >
	
<a href='#welcome'>&laquo; Home</a>
</div>

<div style='background-color:#fff; padding:32px'>
	
		<div class='infobox' style='margin: 0; margin-top:0px; margin-bottom:32px'>
WARNING: This is Charme Beta. Do not provide any personal or private data. This is for testing purposes only!
		</div>
<form id='form_signup'>
	<div class='formDiv'><div>
	<label for="vorn">Username:</label> <input name='username' style='width:150px'  placeholder="username" class='box'> @ <input  name='server'  style='width:150px' value='' id='inp_server' placeholder="yourserver.com" class='box'> 

	</div>



	<div>
	<label for="vorn">Registration Code:</label><input  style='width:150px; margin-bottom:8px;' name='regcode'  placeholder="XXXXXXXXXXX" class='box'>
	</div>
	</div>
	<label for="vorn">Certificate:</label> 
	<div  style='padding-bottom:16px; display:inline-block; width:300px; float:left'>




	<div id='template_certhint'>
	Certificates are needed for encrypted communication. Certificate Creation may take a while. If the certificate generation takes too much time, try the  
	Chrome Browser.<br><br>


	<a id='but_makecert' class='button'>Create certificate</a>
	</div>

	<div style='display: none' id='template_certok'>


	Your certificate Key is: 

	<!-- Do not change this div to an input field as it should be ignored by jQuerys form serializer. The certificate key is not allowed to be submitted to the server!!!!!!! -->
	<div style='padding:16px; margin:16px 0; border:2px maroon solid; font-family: Consolas;' id='template_certkey'>Error creating key
	</div>



	<b>Warning: The Certificate Key can not be restored. Write it down on paper somewhere and make sure nobody but you can find it. If you loose the Certificate Key you loose your account forever!</b>


	<input name='rsa' id='rsa' type='hidden' value=''>
<input name='pubkey' id='pubkey' type='hidden' value=''>


	</div></div>


	<div class='formDiv'><div>
	<label for="vorn">First Name:</label> <input placeholder="" name='firstname' class='box'>
	</div><div>
	<label for="vorn">Last Name: </label> <input placeholder="" class='box' name='lastname'>
	</div><div>
	<label for="vorn">Email:</label>  <input placeholder="" class='box' name='email'>
	</div><div>
	<label for="vorn">Password: </label> <input placeholder="" type='password' class='box' name='password'>
	</div><div>
	<label for="vorn">Repeat Password:</label>  <input placeholder=""  type='password'  class='box' name='password2'>
	</div>
	<div>
		<label for="vorn">&nbsp;</label><a id='but_signupok' class='button'>Submit</a>
	</div>

	</div>

	<div class='infobox' id='box_errors' style='margin: 0; margin-top:16px; marign-bottom:0'>

	<div id='error1'>Invalid Registration Code</div>
	<div  id='error2'>Invalid characters in username</div>
	<div  id='error3'>Username lenght must be between 2 and 30 characters</div>

	<div id='error4'>Password lenght must be between 10 and 30 characters</div>
	<div id='error5'>Password contains illegal characters</div>
	<div id='error6'>Please create a certificate</div>

	<div id='error7'>Invalid mail address</div>

	<div id='error8'>Invalid server</div>

	<div  id='error9'>Name must have between 2 and 30 characters and should not contain special characters</div>

	<div  id='error10'>Please accept the terms.</div>
	<div  id='error11'>Outdated Charme Client Version. Please update your client software.</div>
	<div  id='error12'>Password do not match</div>
	<div  id='error13'>Public key does not exist. (This error should not happen)</div>

	<div  id='error13'>Name lenght must be between 2 and 30 character</div>


	</form>
</div>
