

<div class='p32' style='border-bottom:1px silver solid;'>
<textarea class='box' style=' width:100%;'></textarea>
<div style='margin-top:8px;'><a type='button' class='button but_postCol' value='Post'>Post</a>
</div>
</div>

<div class='stream'>
	 <% _.each( rc.streamitems.items, function( item ){ %>
	 <div class='collectionPost' id='post<%- item.postId %>'>
          <a class='delete' ></a>
          <a href='#/user/<%- item.userId %>'><img class='profilePic' src='http://server.local/media/phantom.jpg'></a>
            <div class='subDiv'>
                <a href='#/user/<%- item.userId %>'><%- item.name %></a><div class='cont'>
                <%- item.content %>
                </div>
                <div>
                    <span class='time'>THE time</span>
                    <a onclick=''>Comments <span class='countComments'>(2)</span></a> - <a class='shareIt' onclick=''>Repost</a>
                </div>


                  <% if ( item.hasOlympicGold ){ %>
                    <em>*</em>
                <% } %>
            </div>
        </div>
	<% }); %>
</div>

   