




<div title='title' class='meta'>Stream</div>
<div class='p32' style='border-bottom:1px #efefef solid;' id='postFieldContainer'>
<div id='repostContainer' style='display:none;'>

<div id='repostHeader' style='padding-bottom:8px'><a style='float:right;' id='cancelRepost'>Cancel Repost</a><span></span></div>
<div id='repostContent' style='background-color: #efefef; padding:8px; margin-bottom:8px;'></div>
</div>

</div>

<div class="hidden hint p32" style=" color: gray;">
</div>

<div class='stream' id='streamContainer'>

</div>

<div style="text-align:center; display:none " id='streamLoadingIndicator'>


<svg width="96" height="96">
    <image xlink:href="css/media/butterflyAnimated.svg" src="svg.png" width="96" height="96"/>
</svg>

</image>
