<div class="instantanswer"><form>
	<input type="hidden" name="col_to" value="">
	<input type="hidden" name="col_type" value="instant">
	<textarea name="col_description" style="width:100%; "></textarea>
	<div style="margin-top:8px;"><a class="button" href="javascript:sendMessageInstant()">Send</a>
	</form></div></div>

	<div class='message'>People: </div>

<!-- --".implode(", ", $ppl["people"])."-->

	<div class='talkmessages'>




	</div>
<!--
<div class='infobox'>You do not have any conversation yet. Click the plus button to start a new conversation.</div>
-->