
<div class='profile_header'>
	<a id='but_followCollection'  style="float: right; background-position: -48px 0px;  position:relative;" data-bgpos="-48" class="functionButton actionIcon" > </a>

	<a id='but_editCollection' style="float: right; background-position: -144px 0px;  position:relative;" data-bgpos="-144" class="functionButton actionIcon" > </a>

	


<div class="profile_name">USERNAME</div>
	<a href='#user/<%- encodeURIComponent(rc.userId) %>/collections'>Collections</a> &raquo; <span id='colName'></span>
<br class='cb'>
</div>



<div id='postFieldContainer' class='p32' style='padding-bottom:0'>
<!-- Post Field will be inserted here --> 
</div>

<div class='collectionPostbox'>

</div>
