<div id='greybg'></div>

<div style="overflow:auto; background-color:#EFEFEF; position:relative">

	<div style="  width:200px; float:right; position:fixed; margin-left:585px;height:100%;padding:32px; ">
	<img src="http://<%- rc.server %>/charme/fs.php?uid=<%- rc.uid %>&amp;type=pro_200px" style="width:200px; height:200px; background-color:#ccc" />
	<div class="tabBar profileTabs">
	<ul>
		<li id='nav_profile_info'><a  href='#user/<%- rc.uid %>'>Info</a></li>
		<li id='nav_profile_collections'><a href='#user/<%- rc.uid %>/collections'>Collections</a></li>
		<li id='nav_profile_sub'><a href='#user/<%- rc.uid %>/subscribers'>Subscribers</a></li>
		<li id='nav_profile_sub2'><a href='#user/<%- rc.uid %>/subscribing'>Subscribing</a></li>
	</ul>
	<a id='but_sendMsg' class='button' style='margin-top:16px;'>Send Message</a>
	</div>
	</div>

	<div id="page3" style='margin-right:232px; '>

		
	</div>

</div>