<div id='greybg'></div>

<div style="overflow:auto; background-color:#EFEFEF; position:relative">

	<div style="  width:200px; float:right; position:fixed; margin-left:585px;height:100%;padding:32px; ">
	<img src="apl/fs/?f=p_200_<?=urlencode($userId) ?>" style="width:200px; height:200px; background-color:#ccc" />
	<div class="tabBar profileTabs">
	<ul>
		<li><a data-defaultDestination="true" data-destination='user/<%- rc.userId %>'>Info</a></li>
		<li><a data-destination='user/<%- rc.userId %>/subscribers'>Subscribers</a></li>
		<li ><a data-destination='user/<%- rc.userId %>/subscribing'>Subscribing</a></li
	</ul>
	</div>
	</div>
	<div class="profile_name">USERNAME</div>
	<div id="page3" style='margin-right:232px; '>

		<div class='profile_header'>Account</div>
		<div class='p32'>
			<div class='aboutContainer' style='margin-right:32px'>
				<div class='aboutBox'>
					<div class='title'>Personal Information</div>
					<table>
						<tr><td class='info'>Name:</td><td>Test</td></tr>

					</table>
				</div>
			</div>

			<div class='aboutContainer'>
				<div class='aboutBox'>
					<div class='title'>Personal Information</div>
					<table>

					</table>
				</div>
			</div>

		</div>
	</div>

</div>