<div class='profile_header'>Account</div>
		<div class='p32'>
			<div class='aboutContainer' style='margin-right:32px'>
				<div class='aboutBox'>
					<div class='title'>Personal Information</div>
					<table>
						<tr><td class='info'>Name:</td><td><%- rc.profile_get.info.firstname %> <%- rc.profile_get.info.lastname %></td></tr>

					</table>
				</div>
			</div>

			<div class='aboutContainer'>
				<div class='aboutBox'>
					<div class='title'>Personal Information</div>
					<table>

					</table>
				</div>
			</div>

		</div>