<div id="welcome_main">
  <img src="css/media/welcome.png" class="onlyNoResponsive" />
  <div id="loginfield">
    <div style="background-color:#fff;  padding:32px;  ">
        <img src="css/media/welcome.png" class="onlyResponsive" style="margin:0px auto; width: 200px; margin-bottom:32px;" />

      <div id="login_error" style="background-color:#F7D2D2; padding:16px; display:none;  border-radius:8px; margin-bottom:16px;color:#C30; text-align:center;">Login failed. Please check your login data.</div>


      <% if (rc.loginStatusCode=="tokenExpired")  { %>
        <div style="background-color:#F7D2D2; padding:16px; border-radius:8px; margin-bottom:16px;color:#C30; text-align:center;">
        Your session has expired. Please login again.
      </div>
      <% } %>

      <div>

      <div class="captialHeadline">Username</div>
      <input placeholder="you@yourserver.com" value='<%- rc.username %>' id="login_user" class="box" style="margin:8px 0; width:100%;" />
    </div>  <div>
      <div class="captialHeadline">Password</div>
      <input placeholder="●●●●●●●●●" value='' id="login_password" type="password" class="box" style="margin:8px 0; width:100%;" />
        </div>
      <div style="position:relative; margin-top: 8px;"> <a href="javascript:login();" class="button" style="float:left">Login</a>
        <span style="float:left; top:6px; left:5px; position:relative;"> or <a href="#signup">Sign up</a></span>
        <br class="cb" /> </div>
    </div>
    <div class="lightLink"> <a href="#password">Forgot Password?</a> &nbsp;&nbsp;&nbsp;<a href="#about">About</a> </div>
  </div>
</div>
