
.loggedOutOnly
{
	display: none;
}


.postoptions a, .postoptions
{
	font-weight: normal;
	color: gray;
}
/* custom scrollbars */



::-webkit-scrollbar {
    width: 8px;
     background-color: transparent;
}
 

::-webkit-scrollbar-track {
   background-color: #efefef;

}
 
::-webkit-scrollbar-track-piece 
{
	   background-color: transparent;
}
::-webkit-scrollbar-thumb {


    background: rgba(0,0,0,0.2); 

}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.2); 
}





.sbAlpha ul a:active
{
	background-color: #cdcdcd;
}
.sbAlpha ul li.active
{
	background-color: #cdcdcd;
}

.likes
{float:right;
	position: relative;
}
.likes .counter
{

	color:silver;
	border-radius: 100px;
	display: inline-block;
	height: 20px;
	float:right;
	font-weight: normal;
	padding:6px 8px 0px 8px;
	position: relative;
	
}
.likes img
{

	display: inline-block;
	position: relative;

}



.delete
{


	width:16px;
	height: 16px;
	float:right;
	margin: 4px 8px;
	display: inline-block;
	background-image: url("del.gif");

}
.comment .delete
{
	margin: 0;
}

.subCont li.dp-active
{
	
	background-color: #ccc;
}
.subCont li.dp-hover
{
		background-color: #ddd;
}

.delete:active
{	
	background-position: 0 16px;
}

.collectionPost .cont
{
padding: 8px 0;
}
.collectionPost:hover .comment:hover .delete, .attachmentContainer div:hover .delete
{

	 opacity: 1;
   transition: opacity .3s ease-in-out;
   -moz-transition: opacity .3s ease-in-out;
   -webkit-transition: opacity .3s ease-in-out;
}

.delete
{

	opacity:  0;
	 transition: opacity .3s ease-in-out;
   -moz-transition: opacity .3s ease-in-out;
   -webkit-transition: opacity .3s ease-in-out;
}
.collectionPost:hover .comment .delete
{opacity:  0;}



.collectionPost:hover .delete
{

	

	 opacity: 1;
   transition: opacity .3s ease-in-out;
   -moz-transition: opacity .3s ease-in-out;
   -webkit-transition: opacity .3s ease-in-out;
}
.usergrid .item
{
	width: 85px;
	margin:16px;
	float:left;
	text-align: center;
	 word-wrap: break-word;

}
.usergrid
{
	padding: 0px;
}
.usergrid .item img
{
	margin-bottom: 8px;
	width:85px;
	height:85px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
.infobox
{
	padding:32px;
	margin:32px;

	border:2px silver solid;



	text-align: center;
	line-height: 18px;
}
.formDiv div
{
	padding:8px 0;
}
label { display: inline-block; width: 130px; float:left; }

.actionMargin
{

	padding-right: 32px;
}
 .actionCont .item:last-child
 {
 	border:0;
 }
 .actionCont .item
 {
 	padding:8px;
 	border-bottom:1px silver solid;

 }
 .actionCont
{
	width:298px;

	background-color:#fff;
	position:fixed;
	border:1px #222 solid;
	
	display:   none;
	z-index:8000;


}
.actionCont .whitespace
{
	position: absolute;
	height: 1px;
	top:-1px;
	background-color: #fff;
	width:27px;

}
.actionBar a.active
{
	
	
}

#button_notifications
{

	font-size:10px;
	line-height: 10px;
	color:#fff;
	font-weight: normal;
	font-family: "Tahoma";


}

a.actionButton
{
	background-image:url(actions.png);


	display:inline-block;
	cursor:pointer;
float: left;
	width:31px;
	height:9px;
	padding:  11px 0;
	text-align: center;

	/* Prevent text selection */
	-webkit-user-select: none;
    -moz-user-select: none; 
    -khtml-user-select: none; 
	
}
.actionBar
{
	height:31px; background-color:#cdcdcd;
	z-index:9000;
	position: relative;
	overflow:visible;

}

#whitebg
{
	height:100%;
	width:850px;
	margin:0px auto;
	left:50%;
	margin-left:-349px; /* 850/2-75 = */
	background-color:#fff;

	position:fixed;
	z-index:-9999;

	border-right:1px silver solid;

}
#colorbg
{	
	height:100%;
	width:150px;
	margin:0px auto;
	left:50%;
	margin-left:-349px; /* 850/2-75 = */
	background-color:#cdcdcd;
	position:fixed;
	z-index:-9992;

}

#greybg
{
	height:100%;
	width:851px;
	margin:0px auto;
	left:50%;
	margin-left:-350px; /* 850/2-75 = */
	background-color:#eee;
	position:fixed;
	z-index:-9994;
	border-right:1px silver solid;

	
}


.meta
{
	
display:none;
}
.cb
{
	
clear:both;}

.sbBeta .active a:active
{
	
color:#000;
background-color:#efefef;
}
.containerAll
{
	
width: 1000px;

margin:0px auto;

}
.sidebar
{
width: 150px;
float:left;
}
.sidebar ul 
	{
	padding:0;
	margin:0;
	list-style-type:none;
	margin-bottom:0px;
}
.sidebar ul li a
{
	display:block;
	padding:9px 8px 7px 8px;
	color:#000;
	cursor:default;
	font-family: "fira_sans_otlight";
	line-height: 16px;
	text-decoration:none;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.sidebar ul li a:hover
{
	
}
.sidebar span.count 
{
	
float:right;
display:inline-block;
padding:3px 7px;

color:#fff;
position:relative;
top:-2px;
right:-1px;

font-size: 11px;
background-color: #1A3C87;


box-shadow:   inset 0 0 1px #000;





}
.sidebar ul li
{
	
	
	color:#fff;
	margin-bottom:1px;
}

.sbBeta ul li a:active
{
	
background-color:#fff;
}

.sbBeta ul li.active
{
	
background-color:#fff;

}
.sbBeta ul li.active a
{
	color:#000;
}
.sbBeta ul li.active .count
{
display:none;
	
}

.sbBetaCont
{
	background-color:#950202;
float:left;
margin-left:151px;

border-right:1px silver solid;


}


.sbBeta
{
	width:150px;
	position:fixed;
	background-color:#950202;



}


.sbAlpha
{
	

position:fixed;
margin-left:1px;




}
.sbAlpha  ul li
{
	background-color:#E0E0E0;
}
.sbAlpha  ul 
{

margin-bottom: 8px;
}

.page_content
{
	
background-color:#fff;
float:left;
width:708px;
overflow:auto;
margin-left:150px;




}


body
{

	font-size:13px;

	
	}