.header.responsive
{
	display: none;
	width: 100%;
	height: 48px;
	z-index: 10000;
	background-color: #fff;
}
.header.responsive .row1
{
	background-color: #fff;
}

.header.responsive .row1 a.active
{
	background-color: #444;
	color:#fff;
}
.header.responsive .row2
{
	background-color: #444;
	line-height: 32px;
	color:#fff;
	padding-left: 8px;

}
.header.responsive .row1 a
{
	width: 14.27%;
	display: inline-block;
	font-size: 20px;
	line-height: 32px;
	padding-top:  4px;
	height: 28px;
	text-align: center;
	color:gray;
}

@media (max-width: 1000px)
	{
		.sbAlpha
		{
			display: none;

		}
		.profile_sidebar img
		{
			width: 100px !important;
			height: 100px !important;
			border-radius: 10000px;
		}
		.profileTabs li.active
		{
			border-bottom: 1px #1A3C87 solid;
			background-color: transparent;

		}
		.profileTabs li  a, .profileTabs li  a:active, .profileTabs li.active  a
		{
			background-color: transparent !important;
				box-shadow: none !important;
			color: #444 !important;
		}
		.profileTabs li 
		{

			float: left;
			display: inline-block;
			background-color: transparent;
			text-align: center;
		

			margin-top: 8px;
			width: 33%;
			color:#444;
			border-bottom: 1px silver solid;

		}
		.profile_sidebar
		{
			width: auto;
			float:none;
			position: relative;
			height: auto;
			margin-left: 0px;

		}
		#colorbg, #whitebg, #greybg
		{
			display: none;
		}
		#page3
		{
			margin-right: 0px !important;
		}
		.containerAll
		{
			width: 100%;
		}
		.sbBetaCont
		{
			margin-left: 0px;
			width: 100%;
			border-right: 0;
		}
		.page_content
		{
			width: 100% !important;
			margin-left: 0px !important;
			margin-top: 64px;
		}
		.postcomments .comment
		{
			width: 100%;
		}
		.sbBeta
		{
			position: absolute;
			top: 64px;
			width: 100%;
		}
		.header.responsive
		{
			display: block;
			position: fixed;
	

		}
		.commentBox input
		{
			width: 100% !important;
		}
	}
